#previewBody {
	background-color: #f4f1de;
	padding: 0;
	margin: 0;
	border: 0;
}
#previewMenu {
	background-color: #81b29a;
	overflow-wrap: anywhere;
	padding: 2% 2% 2.5% 3%;
	margin: 0;
	border: 0;
}
#previewHeaderText {
	line-height: 1.4;
	color: #f4f1de;
	font-size: 40px;
	padding: 0;
	margin: 0;
	border: 0;
}
#previewArticleHeader {
	padding: 3% 0 4.5% 3.1%;
	margin: 0;
	border: 0;
}
#previewName {
	color: #e07a5f;
	font-size: 16px;
	float: left;
	width: fit-content;
	padding: 0;
	margin: 0;
	border: 0;
}
#previewDivider {
	color: #f2cc8f;
	font-size: 16px;
	float: left;
	width: fit-content;
	padding: 0 1.5%;
	margin: 0;
	border: 0;
}
#previewDate {
	font-style: italic;
	color: #e07a5f;
	font-size: 16px;
	float: left;
	width: fit-content;
	padding: 0;
	margin: 0;
	border: 0;
}
#previewArticle {
	font-size: 18px;
	line-height: 1.5;
	overflow-wrap: anywhere;
	padding: 0 3%;
	margin: 0;
	border: 0;
}
#previewArticleText {
	margin: 0;
	padding: 0;
	color: #3d405b;
	white-space: pre-wrap;
}
